@using BagsStore.Models
<!DOCTYPE html>
<html lang="zxx">
<head>

    <!-- Metas -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="LUGGAGE STORAGE FOR 3,99 EUR PER DAY, Most reliable bag storage near you, Luggage storage reservation in a few minutes, FIND LUGGAGE STORAGE NEAR YOU, Explore the city luggage free" />
    <meta name="author" content="" />
    <link rel="canonical" href="https://bagtostore.com/" />
    <link rel="preconnect" href="https://www.google-analytics.com" />
    <link rel="preconnect" href="https://embed.tawk.to" />
    <link rel="preconnect" href="https://va.tawk.to" />


    @RenderSection("HeaderContent", required: false)
    <!-- Title -->
    <!-- Bootstrap CSS -->


    @Styles.Render("~/css/css")
    <!-- Favicon -->
    <link rel="icon" type="image/png" sizes="32x32" href="~/img/ikonce-za-veb.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="~/img/ikonce-za-veb.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="~/img/ikonce-za-veb.ico">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/css?v =3BEZ4yiMIEa3BSsNJY5HlR6S5a5OnrKt7dxrM8yTER41">
    @Scripts.Render("~/js/js")
    <link rel="stylesheet" href="~/js/=j0cL-SRfcfToSLI0A6RNFiwpPQ8PLgn2v7cxB_IlwCc1">
    <style>
        .cook {
            position: fixed;
            background-color: rgba(20,20,20,0.8);
            min-height: 26px;
            font-size: 14px;
            color: #ccc;
            line-height: 26px;
            padding: 8px 0 8px 30px;
            font-family: "Trebuchet MS",Helvetica,sans-serif;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: 9999;
        }

            .cook a {
                color: #ccc;
            }

                .cook a:hover {
                    color: white;
                }


        .working-progress .item {
            height: 350px !important;
        }

            .working-progress .item a {
                height: 45px !important;
            }

        .working-progress .item2 .title {
            height: 35px !important;
        }

        .itemCi {
            margin-right: 15px;
        }
    </style>

</head>
<body>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-149253311-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-149253311-1', { 'optimize_id': 'GTM-5RVFVKF' });
    </script>


    <nav class="navbar navbar-expand-lg" id="navbar">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img id="green" class="img-fluid" src="~/Images/70x50 logo.png" style="width:50%" alt="GreenLogo">
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-icon"><i class="fas fa-bars"></i></span>
            </button>
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav" style="margin-left:15%;">
                    <li class="nav-item">
                        <a id="nav-link5" href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link1" class="nav-link" href="/who-we-are">Who we are</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link3" class="nav-link buttonn" data-toggle="modal" data-target="#myModal" href="#">Luggage places</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link2" class="nav-link" href="/become-our-partner">Become our Partner</a>
                    </li>


                    <li class="nav-item">
                        <a id="nav-link3" class="nav-link" href="/how-it-works">How it works</a>
                    </li>
                    <li class="nav-item">
                        <a id="nav-link4" class="nav-link" href="/FAQ">FAQ</a>
                    </li>
                </ul>
                <div id="nav-link5" class="ml-auto phone"></div>
            </div>
        </div>
    </nav>


    @RenderBody()

    <!------- footer --------->
    <footer class="footer">
        <div class="container">
            <div class="row">

                <div class="col-md-3">
                    <img class="" src="~/Images/70x50 logo.png" style="width:40%;  margin:auto" alt="GreenLogo" />
                    <p class="product-description" style="color:white !important; margin:5px; font-size:small">
                        Infinity GO, Gorica Vasilevska s.p<br />
                        Cesta v Mestni Log 55, 1000 Ljubljana<br />
                        Tax number: SI89600169
                    </p>
                    <p class="description">
                        <a class="btn-info" style="background-color: #40A629; color:white; font-weight:bold;" href="mailto:info@bagtostore.com">BECOME OUR PARTNER</a>
                    </p>
                </div>

                <div class="col-md-3">
                    <p class="title text-uppercase">Contact us</p>
                    <p class="description"><i class="fas fa-envelope icon"></i>info@bagtostore.com</p>
                    <p class="description">
                        <i class="fas fa-phone icon"></i><img src="~/Images/whatsapp.png" width="17" height="17" style="margin-left:-4px" />
                        <img src="~/Images/viber.png" width="17" height="17" />
                        <img src="~/Images/telegram.png" width="17" height="17" /> +386 51 847 142
                    </p>
                </div>
                <div class="col-md-3">
                    <p class="title text-uppercase">Luggage Places</p>
                    <ul class="links">
                        <li><a href="/luggage-storage/belgrade">Belgrade Luggage Storage</a></li>
                        <li><a href="/luggage-storage/bled">Bled Luggage Storage</a></li>
                        <li><a href="/luggage-storage/ljubljana">Ljubljana Luggage Storage</a></li>
                        <li><a href="/luggage-storage/vienna">Vienna Luggage Storage</a></li>
                        <li><a href="/luggage-storage/budapest">Budapest Luggage Storage</a></li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="title text-uppercase">Sitemap</p>
                    <ul class="links">
                        <li><a href="/home">Home</a></li>
                        <li><a href="/who-we-are">Who We Are</a></li>
                        <li><a href="/become-our-partner">Become Our Partner</a></li>
                        <li><a href="/how-it-works">How It Works</a></li>
                        <li><a href="/FAQ">FAQ</a></li>
                        <li><a href="/privacy-policy">Privacy policy</a></li>
                        <li><a href="/terms-and-conditions">Terms and Conditions</a></li>
                        <li><a href="/tips-for-trips">Tips for Trips</a></li>

                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="title text-uppercase">Follow us</p>
                    <ul class="footer-icon">
                        <li>
                            <a href="https://www.facebook.com/bagtostore" target="_blank"><i class="fab fa-facebook fa-2x"></i></a>
                            <a href="https://www.instagram.com/bagtostore/" target="_blank"><i class="fab fa-instagram fa-2x"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <p class="title text-uppercase">Pay with</p>

                    <img src="~/Images/Visa.svg" width="40" alt="visa" />
                    <img src="~/Images/mastercard_logo.svg" width="40" alt="mastercard" />
                    <img src="~/Images/Paypal.svg" width="40" alt="paypal" />

                </div>

            </div>
        </div>

    </footer>


    <div class="modal fade" id="myModal" role="dialog" style="margin-top:15%">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">

                    <h5 class="modal-title" style="float:left !important;text-align:center">Choose your city</h5>
                    <button type="button" class="close" data-dismiss="modal" style="float:right !important">&times;</button>
                </div>
                <div class="modal-body">
                    @foreach (Location loc in ViewBag.locsPopUp)
                    {
                        <a href="/luggage-storage/In/@loc.Name" class="itemCi">
                            @loc.Name
                        </a>
                    }
                </div>
            </div>

        </div>
    </div>

    <!-- Go to www.addthis.com/dashboard to customize your tools -->
    <!--BACK BUTTON-->
    <script>
        function goBack() {
            window.history.back();
        }
    </script>

    <script>
        function cookiees() {
            $.ajax({
                url: '/Home/Cookie',
                type: 'POST',
                data: '',
                dataType: 'json',
                contentType: 'application/json',
                success: function (data) {

                    $("#cook").hide();

                }
            });
        }
    </script>

    <!--Start of Tawk.to Script-->
    <script type="text/javascript">
        var Tawk_API = Tawk_API || {}, Tawk_LoadStart = new Date();
        (function () {
            var s1 = document.createElement("script"), s0 = document.getElementsByTagName("script")[0];
            s1.async = true;
            s1.src = 'https://embed.tawk.to/5dff30987e39ea1242a1628c/default';
            s1.charset = 'UTF-8';
            s1.setAttribute('crossorigin', '*');
            s0.parentNode.insertBefore(s1, s0);
        })();
    </script>
    <!--End of Tawk.to Script-->

    <script src='https://cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js'></script>

    @RenderSection("FooterContent", required: false)

</body>
</html>