
@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

@using PagedList.Mvc;
@using PagedList;
@using BagsStore.Models
<!-- import the included stylesheet for some (very basic) default styling -->
<link href="/Content/PagedList.css" rel="stylesheet" type="text/css" />

<div id="container">
    <div class="shell">

        <!-- Small Nav -->
        <!-- End Small Nav -->
        <!-- Message OK -->
        <!-- End Message Error -->
        <br />
        <!-- Main -->
        <div id="main">
            <div class="cl">&nbsp;</div>

            <!-- Content -->
            <div id="content">

                <!-- Box -->
                <div class="box">
                    <!-- Box Head -->
                    <!-- End Box Head -->
                    <!-- Table -->
                    <div class="table">
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>

                                <th>Име и презиме</th>
                                <th>Град</th>
                                <th>Датум</th>
                                <th></th>
                                <th></th>
                            </tr>

                            @foreach (Review item in ViewBag.OnePageOfProducts)
                            {
                                <tr>
                                    <td><h3><a href="#">@item.Name @item.LastName</a></h3></td>
                                    <td><h3><a href="#">@item.Location.Name</a></h3></td>
                                    <td><h3><a href="#">@item.Date</a></h3></td>
                                    <td>
                                        <a href="@Url.Action("DeleteReview", "Admin", new { id = item.Id })" class="ico del">Избриши</a>
                                    </td>
                                    <td>
                                        <a href="@Url.Action("EditReview", "Admin", new { id = item.Id })" class="ico edit">Измени</a>
                                    </td>
                                </tr>


                            }

                            @Html.PagedListPager((IPagedList)ViewBag.OnePageOfProducts, page => Url.Action("Reviews", "Admin", new { page }))

                        </table>


                        <!-- Pagging -->
                        <div class="pagging">

                        </div>
                        <!-- End Pagging -->

                    </div>
                    <!-- Table -->

                </div>
                <!-- End Box -->
                <!-- Box -->
                <!-- End Box -->

            </div>
            <!-- End Content -->
            <!-- Sidebar -->
            <div id="sidebar">

                <!-- Box -->
                <div class="box">

                    <!-- Box Head -->
                    <!-- End Box Head-->

                    <div class="box-content">
                        <a href="@Url.Action("CreateReview","Admin")" class="add-button"><span>Додади</span></a>
                        <div class="cl">&nbsp;</div>


                    </div>
                </div>
                <!-- End Box -->
            </div>
            <!-- End Sidebar -->

            <div class="cl">&nbsp;</div>
        </div>
        <!-- Main -->
    </div>
</div>
